# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.build/
.eggs/
*.egg-info/
.env
.env.*
venv/
.envrc

# IDE
.vscode/
.idea/
*.swp

# Distribution / packaging
build/
dist/

# Logs
*.log

# Runtime data
submissions_data.json

# Docker
*.tar

# OS
.DS_Store
Thumbs.db
